<html>
  <head>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='styles.css' />
    <title>Stackbuilders exercise</title>
  </head>
  <body>
    <a href='/?filter=more'><button>More</button></a>
    <a href='/?filter=less'><button>Less</button></a>

    {{#if error}}
      <p>Unable to fetch posts.</p>
    {{else}}
      {{#each posts as |post|}}
        <li>{{number}}.
          {{title}}
          -
          {{points}}
          points -
          {{comments}}
          comments</li>
      {{/each}}
    {{/if}}
  </body>
</html>